/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#map-and-charts {
  display: flex;
    border: 0.2cm solid blue;
    width: 98%;
    height: 95%;
    margin-top: 20px;
}

.left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.tooltip {
  position: absolute;
  pointer-events: none;
  background: lightsteelblue;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}


.bar-chart-container {
width: 82%; /* Make bar chart container wide */
display: flex;
flex-direction: column;
gap: 20px; /* Space between bar charts */
}

#barChartContainer1,
#barChartContainer2 {
width: 100%;
height: 400px; /* Increase height of bar charts */
background: #fff;
border: 1px solid #ccc; /* Optional border */
}

select {
margin: 10px;
padding: 5px;
font-size: 14px;
}

svg {
background: #fff;
border: 1px solid #ccc;
}
